<form action = "/square_root/results">
  <div>
    <label for="num_to_square_root">Enter a number</label>
    <input id="num_to_square_root" type="text" name="users_num" placeholder="What number do you want to take the square root of?">
  </div>

  <button>Calculate square root</button>
</form>
