<form action = "/square/results">
  <div>
    <label for="num_to_square">Enter a number</label>
  </div>

  <div>  
    <input id="num_to_square" type="text" name="users_num" placeholder="What number do you want to square?">
  </div>

  <button>Calculate square</button>
</form>
